<article class="welcome">
  <h1>Årets julevenner!</h1>
  <p>Logg inn og se hvem som er din julevenn i 2024!</p>
  <%= button_to 'Logg inn!', '/auth/auth0', method: :post, data: {turbo: false} %>
</article>

