/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  color: white;
}

.welcome {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(#b83728 0, #b83728 20%, #320f0b 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    line-height: min(6rem, 18vw);
    text-align: center;
    font-size: min(8rem, 22vw);
  }

  p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }

  button {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px 2px white;
    background: linear-gradient(#b83728, #320f0b);
    font-size: 2rem;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    margin: 2rem;
  }
}
